link(rel='shortcut icon', type='image/png', href='/images/favicon.ico')
	
link(rel='stylesheet', type='text/css', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', type='text/css', href='/stylesheets/vendor/icons.css')

link(rel='stylesheet', type='text/css', href='/stylesheets/xmas/xmas.css')