#highScores.modal.fade.bs-example-modal-lg(tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true")
  .modal-dialog.modal-lg
    .modal-content
      .row 
        .col-md-12.lead.text-center
          .highScoreText
            center
              h3
                span= title + " Wall of Legends"
                .high-scores
                  ol.rounded-list
                    //-Angular isn't working here for the top five online?
                    li(ng-repeat='highscore in highscores | orderBy:score:reverse | limitTo:5')
                        a(href='')
                          span.username {{ highscore.username }} 
                          span &#45;
                          span.score {{ highscore.score}}

                #highscore-form.hs-row
                  form
                    input.form-control.input-lg.text-center(type='text', placeholder='Enter a username to become a legend', ng-model='formData.username')
                    button.btn.btn-lg.btn-success(type='submit', ng-click='createHighscore()') Add
      .row 
          .col-md-12.lead.text-center      
              .button-container
                a(href='http://brentscheibelhut.com')
                  button.btn.btn-lg.btn-primary Go Home!
                a#replay(href='#')
                  button.btn.btn-lg.btn-primary(onclick='restart()') Replay?