#launch.modal.fade.bs-example-modal-sm(tabindex="-1" role="dialog" aria-labelledby="launchModal" aria-hidden="true")
	.modal-dialog.modal-sm
		.modal-content
			.row 
				.col-md-12.text-center
					if title == "Roygbiv"
						span.game-title-icon.icon-elephant
					else
						span.game-title-icon.icon-blur
					.game-title #{title}
			.row
				.col-md-12.center.subheader-text
					if title == "Roygbiv"
						p Welcome to the <strong>#{title} Alpha</strong> version! All <strong>feedback</strong> is appreciated!
						p Choose the <strong>correct answer</strong> to decribe the blurred out picture with the <strong>arrow keys</strong>. The <strong>quicker</strong> you answer the <strong>more points</strong> you get! 
						p  Oh be aware there might be <strong>bugs a plenty</strong>. Just refresh the page if something horrible occurs
					else
						p Welcome to the strong <strong>#{title} Alpha</strong> version! All <strong>feedback</strong> is appreciated!
						p  <strong>Move</strong> the <strong>blue hero</strong> around with the <strong>arrow keys</strong>. Gain time by collecting <strong>all the gems</strong> in one level and moving on to the next.
						p  Collect the <strong>golden snitch</strong> for extra points, click on the <strong>floating silver orb</strong>, and watch out for the <strong>black</strong> twirling bad guys too!
						p  Oh be aware there might be <strong>bugs a plenty</strong>. Just refresh the page if something horrible occurs
			.row
				.col-md-12.center.text-center
					if title == "Roygbiv"
						span Which version would you like to play?
						a(href='#' onclick="walkthrough()")
							img(src='/images/pulsate-v1.gif')
					else
						.button-container
							button#easy.btn.btn-lg.btn-info(type="button") Easy
							button#medium.btn.btn-lg.btn-warning(type="button") Medium
							button#hard.btn.btn-lg.btn-danger(type="button") Hard
