#levelUp.modal.fade.bs-example-modal-sm(tabindex="-1" role="dialog" aria-labelledby="levelUpModal" aria-hidden="true")
    .modal-dialog.modal-sm
      .modal-content
        .row 
          .col-md-12.lead.text-center
            center
              img(src='/images/game_over.gif')
            span Congrats
            span Continue?
          .button_container
            a(href='http://brentscheibelhut.com')
              button.button No Way!
            a#levelUp(href='#')
              button.button(onclick='levelUp()') Hell ya!