#walkthrough.modal.fade.bs-example-modal-sm(tabindex="-1" role="dialog" aria-labelledby="walkthroughModal" aria-hidden="true")
  .modal-dialog.modal-sm
    .modal-content
      .row 
        .col-md-12.lead.text-center #{title}
      .row
        .col-md-12.center.text-center
          span Want to see the walkthrough?
      .row
        .col-md-12.center.text-center
          .button-container
            a(href='#' onclick="init()")
              button.btn.btn-primary Sure&#33;
            a(href='#' onclick="init_quick()")
              button.btn.btn-primary No&#44; I&#39;m Pro