script(src='/javascripts/vendor/jquery/dist/jquery.min.js')
script(src='/javascripts/vendor/foundation/js/foundation/foundation.js')
script(src='/javascripts/vendor/foundation/js/foundation/foundation.reveal.js')
script(src='/javascripts/vendor/jquery-collision/jquery-collision.js')
script(src='/javascripts/vendor/jquery-ui/ui/minified/jquery-ui.min.js')
script(src='/javascripts/vendor/intro.js/minified/intro.min.js')
script(src='/javascripts/bgMain.js')
