#launch.reveal-modal.tiny(data-reveal='data-reveal')
  .launch-title roygbiv
  .launch-text
    center
      span Which version would you like to play?
      a(href='#' onclick="walkthrough()")
        img(src='/images/pulsate-v1.gif')