script(src='/javascripts/vendor/jquery/dist/jquery.min.js')
script(src='/javascripts/vendor/foundation/js/foundation/foundation.js')
script(src='/javascripts/vendor/foundation/js/foundation/foundation.reveal.js')
script(src='/javascripts/vendor/jquery-collision/jquery-collision.js')
script(src='/javascripts/vendor/jquery-ui/ui/minified/jquery-ui.min.js')
script(src='/javascripts/vendor/intro.js/minified/intro.min.js')
script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js')
script(src='/javascripts/controllers/main.js')
script(src='/javascripts/services/highscores.js')
script(src='/javascripts/core.js')
script(src='/javascripts/main.js')
