#walkthrough.reveal-modal.tiny(data-reveal='data-reveal')
  .modalText
    center
      span Want to see the walkthrough?
  //-.high-scores
    //-include ../highScore
  .button_container
    a(href='#' onclick="init()")
      button.button.small Sure&#33;
    a(href='#' onclick="init_quick()")
      button.button.small No&#44; I&#39;m Pro