<div class="header">
	<div id="timer_style" class="timer_loc" data-step="2" data-intro="Collect all the colored gems before time runs out. The golden snitch gem is worth extra points but not necessary for completion of the level">
		<span id="timer"></span>
		<span id="timer_hund"></span>
	</div>

	<a href="http://labs.schybo.com">
		<div id="title" class="title"><span class="title-icon icon-blur"></span>blur</div>
	</a>

	<div id="score_style" class="score_loc" data-step="3" data-intro="The higher your level the more your score multiplier!" data-position='left'>
		<span id="score"></span>
	</div>
</div>

<div class="game-box">
	<div 
	<div class="row1">
		<span id="top" class="top-arrow icon-play"></span>
	</div>
	<div class="row2">
	</div>
	<div class="row3">
		<div id="option" class="col1">
			<span id="left" class="left-arrow icon-play"></span>
			<div class="vertical-row1">
			</div>
		</div>
		<div class="col2">
			<div class="img-box">
				<div id="card" class="shadow">
				</div>
			</div>
		</div>
		<div class="col3">
			<div class="vertical-row2">
			</div>
			<span id="right" class="right-arrow icon-play"></span>
		</div>
	</div>
	<div class="row4">
	</div>
	<div class="row5">
		<span id="bottom" class="bottom-arrow icon-play"></span>
	</div>
</div>

<!--<section class="container">
  <div id="cube">
    <figure class="front1">1</figure>
    <figure class="back1">2</figure>
    <figure class="right">3</figure>
    <figure class="left">4</figure>
    <figure class="top">5</figure>
    <figure class="bottom">6</figure>
  </div>
</section>-->

<!--<button id="show-front">Show Front</button>
<button id="show-back">Show Back</button>
<button id="show-right">Show Right</button>
<button id="show-left">Show Left</button>
<button id="show-top">Show Top</button>
<button id="show-bottom">Show Bottom</button>-->

<audio id="pickup-coin">
  <source src="/sounds/pickup-coin.wav" type="audio/wav">
</audio>
<audio id="hurt">
  <source src="/sounds/hurt.wav" type="audio/wav">
</audio>
<audio id="snitch_sound">
  <source src="/sounds/snitch.wav" type="audio/wav">
</audio>
<audio id="time_down">
  <source src="/sounds/time_down.wav" type="audio/wav">
</audio>