doctype html
html
	head
		title Canvas Play
		link(rel='stylesheet', type='text/css', href='/stylesheets/canvas.css')
	body
		canvas#genericCanvas(width="300", height="300")
			img(src="/images/game_over.gif")

	script(src='/javascripts/canvas/canvas.js')