<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/hbd/hbd-ashley.css">
</head>
<body>
  <div class='stage'>
    <div class='layer'></div>
    <div class='layer'></div>
    <div class='layer'></div>
    <div class='layer'></div>
    <div class='layer'></div>
    <div class='layer'></div>
    <div class='layer'></div>
    <div class='layer'></div>
    <div class='layer'></div>
    <div class='layer'></div>
    <div class='layer'></div>
    <div class='layer'></div>
    <div class='layer'></div>
    <div class='layer'></div>
    <div class='layer'></div>
    <div class='layer'></div>
    <div class='layer'></div>
    <div class='layer'></div>
    <div class='layer'></div>
    <div class='layer'></div>
  </div>
</body>
</html>
