doctype html
html
	head
		include includes/meta
		include includes/stylesheets
	body
		include includes/header.html
		.container
			.row
				.col-md-12.center.margin-bottom
					block content

		include includes/scripts