<div class="header">
	<div id="timer_style" class="timer_loc">
		<span id="timer"></span>
		<span id="timer_hund"></span>
	</div>

	<div id="play-pause" class="play-pause">
		<a href="#" onclick="play_game(true)">
			<span id="play" class="icon-play"></span>
		</a>
		<a href="#" onclick="pause_game(true)">
			<span id="pause" class="icon-pause"></span>
		</a>
	</div>

	<a href="http://labs.schybo.com">
		<div id="title" class="title"><span class="title-icon icon-elephant"></span>roygbiv</div>
	</a>
	<div id="music-volume" class="music-volume">
		<a href="#" onclick="bgMusicOff(true)">
			<span id="mute" class="icon-volume-high"></span>
		</a>
		<a href="#" onclick="bgMusicOn(true)">
			<span id="loud" class="icon-volume-mute"></span>
		</a>
	</div>

	<div id="score_style" class="score_loc">
		<span id="score"></span>
	</div>
</div>

<div class="playing-field">
	<a class="pulse1" href="#pulse1">
	    <div onclick="move()" id="pulse" class="pulse_marker">
	        <div id="pulse_ring" class="pulse_ring"></div>
	    </div>
	</a>

	<div id="hero" class="hero"></div>
</div>

<!-- HTML5 Audio Mayhem -->
<audio id="pickup-coin">
  <source src="/sounds/pickup-coin.wav" type="audio/wav">
</audio>
<audio id="hurt">
  <source src="/sounds/hurt.wav" type="audio/wav">
</audio>
<audio id="snitch_sound">
  <source src="/sounds/snitch.wav" type="audio/wav">
</audio>
<audio id="time_down">
  <source src="/sounds/time_down.wav" type="audio/wav">
</audio>
<audio id="bg-music">
  <source src="/sounds/bg-music.mp3" type="audio/mpeg">
</audio>