extends themes

block content
	#wrapper
		.container-fluid
			.row
				.col-md-12
					.tree1
						.root
						.shadow1
						.shadow2
						.snow1
						.snow2
						.snow3
						.snow4
					.tree2
						.root
						.shadow1
						.shadow2
						.snow1
						.snow2
						.snow3
						.snow4
					.tree3
						.root
						.shadow1
						.shadow2
						.snow1
						.snow2
						.snow3
						.snow4
						.snow5
					.tree4
						.root
						.shadow1
						.shadow2
						.snow1
						.snow2
						.snow3
						.snow4
						.snow5
					.ground