html, body {
	height: 100%;
	margin: 0;
}

#wrapper {
	min-height: 100%; 
	background-color: @dark-blue;
}

//********Mixins************//
.display() {
	display: block;	
	margin-left: auto;
	margin-right: auto;
}

.ba() {
	content:"";
}

.triangle(@size1, @size2, @color: @dark-green) {
	width: 0; 
	height: 0; 
	border-left: @size1 solid transparent;
	border-right: @size1 solid transparent;
	
	border-bottom: @size2 solid @color;
}

.position(@position, @top, @left) {
  position: @position;
  top: @top;
  left: @left;
}

.size(@width: 0, @height: 0) {
	width: @width;
	height: @height;
}

.shadow() {
	z-index: 1;
}
//***************************//


//********Tree*************//
.tree(@x: -100px, @y:200px) {
	@size1: 40px;
	@size2: 50px;
	.display();
	.triangle(@size1, @size2);
	.position(relative, @y, @x);

	&:before {
		.ba();
		.position(absolute, 25px, -60px);
		.triangle(@size1 * 1.5, @size2 * 1.4);
	}

	&:after {
		.ba();
		.position(absolute, 55px, -80px);
		.triangle(@size1 * 2, @size2 * 1.8);
		//box-shadow: 0 6px 0 #f1cb9a, 0 8px 2px rgba(0,0,0,0.2), -132px 40px 0 -61px #f6c83e, -128px 40px 0 -54px #edb815,
	}

	.root {
		.display();
		.size(12px, 20px);
		.position(relative, 145px, -12px);
		background-color: @dark-brown;
		box-shadow: 12px 0 0 @darker-brown;
	}
	//add triangle to shadow
	.shadow1 {
		.display();
		.size(85px, 5px);
		.position(relative, 70px, -42.5px);
		.shadow();
		background-color: @dark-green;
		box-shadow: 0 5px 2px rgba(31,155,83,0.6);
	}
	.shadow2 {
		.display();
		.shadow();
		.size(54px, 5px);
		.position(relative, 20px, -27.5px);
		background-color: @dark-green;
		box-shadow: 0 5px 2px rgba(31,155,83,0.6);
	}

	.snow() {
		z-index: 1;
		background-color: @snow-white;
		border-radius: 10px;
	}

	.snow-clump() {
		.size(12px, 27px);
		position: absolute;
		top : 0;
	}

	.snow1 {
		.display();
		.size(54px, 12px);
		.position(relative, 57px, 5px);
		.snow();

		&:after {
			.ba();
			.position(absolute, 2px, 30px);
			.size(15px, 15px);
			background-color: @snow-white;
			border-radius: 100%;
		}
	}
	.snow2 {
		.display();
		.snow-clump();
		left: -12px;
		.snow();
		.transform(rotate(40deg));
	}
	.snow3 {
		.display();
		.snow-clump();
		left: -5px;
		.snow();
	}
	.snow4 {
		.display();
		.snow-clump();
		left: 2px;
		.snow();
		.transform(rotate(-40deg));
	}
}

.tree1 {
	.tree();
}

.tree2 {
	.tree(200px)
}

