/*
SAFETY PIG

                         _
 _._ _..._ .-',     _.._(`))
'-. `     '  /-._.-'    ',/
   )         \            '.
  / _    _    |             \
 |  a    a    /              |
 \   .-.                     ;  
  '-('' ).-'       ,'       ;
     '-;           |      .'
        \           \    /
        | 7  .__  _.-\   \
        | |  |  ``/  /`  /
       /,_|  |   /,_/   /
          /,_/      '`-'
*/

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100%;
}

#wrapper {
	min-height: 100%; 
	max-height: 800px;
	overflow: hidden;
	background-color: @bg-grey;
}


//**********Variables*****//
@ground-y : 420px;
@ground-height1 : 15px;
@ground-height2 : 25px;
@ground-length : 1000px;

@tree-clump1 : 80px;
@tree-clump2 : 680px;

//************************//

//********Mixins************//
.display() {
	display: block;	
	margin-left: auto;
	margin-right: auto;
}

.ba() {
	content:"";
}

.triangle(@size1, @size2, @color: @dark-green, @size3 : @size1) {
	width: 0; 
	height: 0; 
	border-left: @size1 solid transparent;
	border-right: @size3 solid transparent;
	
	border-bottom: @size2 solid @color;
}

.position(@position, @top, @left) {
  position: @position;
  top: @top;
  left: @left;
}

.size(@width: 0, @height: @width) {
	width: @width;
	height: @height;
}

.shadow() {
	z-index: 1;
}
//***************************//

//********Tree1*************//
.tree(@x: 280px, @foreground : false, @lr : false, @y: 310px) {
	@size1: 40px;
	@size2: 50px;
	.display();
	display: inline-block;
	.triangle(@size1, @size2);
	.position(relative, @y, @x);

	& when not (@foreground = false) {
        z-index : 2;
    }

	&:before {
		.ba();
		.position(absolute, 25px, -60px);
		.triangle(@size1 * 1.5, @size2 * 1.4);
	}

	&:after {
		.ba();
		.position(absolute, 55px, -80px);
		.triangle(@size1 * 2, @size2 * 1.8);
		//box-shadow: 0 6px 0 #f1cb9a, 0 8px 2px rgba(0,0,0,0.2), -132px 40px 0 -61px #f6c83e, -128px 40px 0 -54px #edb815,
	}

	.root {
		.display();
		.size(12px, 20px);
		.position(relative, 145px, -12px);
		background-color: @dark-brown;
		box-shadow: 12px 0 0 @darker-brown;
	}
	//add triangle to shadow
	.shadow1 {
		.display();
		.size(85px, 5px);
		.position(relative, 70px, -42.5px);
		.shadow();
		background-color: @dark-green;
		box-shadow: 0 5px 2px rgba(31,155,83,0.6);
	}
	.shadow2 {
		.display();
		.shadow();
		.size(54px, 5px);
		.position(relative, 20px, -27.5px);
		background-color: @dark-green;
		box-shadow: 0 5px 2px rgba(31,155,83,0.6);
	}

	.snow() {
		z-index: 1;
		background-color: @snow-white;
		border-radius: 10px;
	}

	.snow-clump() {
		.size(12px, 27px);
		position: absolute;
		top : 0;
	}

	.snow1 {
		.display();
		.size(54px, 12px);
		.position(relative, 57px, 5px);
		& when not (@lr = false) {
			.position(relative, 57px, -60px);
		}
		.snow();

		&:after {
			.ba();
			.position(absolute, 2px, 30px);
			& when not (@lr = false) {
				.position(absolute, 2px, 8px);
			}
			.size(15px, 15px);
			background-color: @snow-white;
			border-radius: 100%;
		}
	}
	.snow2 {
		.display();
		.snow-clump();
		left: -12px;
		.snow();
		.transform(rotate(40deg));
	}
	.snow3 {
		.display();
		.snow-clump();
		left: -5px;
		.snow();
	}
	.snow4 {
		.display();
		.snow-clump();
		left: 2px;
		.snow();
		.transform(rotate(-40deg));
	}
}

.tree1 {
	.tree(@tree-clump1, true);
}

.tree2 {
	.tree(@tree-clump2, false, true);
}
//**********************//

//**************TreeOFF*********///

.treeOff(@x: 280px, @foreground : false, @lr : false, @y: 285px) {
	@size1: 50px;
	@size2: 60px;
	.display();
	display: inline-block;
	.triangle(@size1, @size2, @other-green);
	.position(relative, @y, @x);

	& when not (@foreground = false) {
        z-index : 2;
    }

	&:before {
		.ba();
		.position(absolute, 30px, -75px);
		.triangle(75px, 90px, @other-green);
	}

	&:after {
		.ba();
		.position(absolute, 75px, -90px);
		.triangle(90px, 100px, @other-green);
		//box-shadow: 0 6px 0 #f1cb9a, 0 8px 2px rgba(0,0,0,0.2), -132px 40px 0 -61px #f6c83e, -128px 40px 0 -54px #edb815,
	}

	.root {
		.display();
		.size(15px, 30px);
		.position(relative, 170px, -15px);
		background-color: @dark-brown;
		box-shadow: 15px 0 0 @darker-brown;
	}
	//add triangle to shadow
	.shadow1 {
		.display();
		.size(85px, 5px);
		.position(relative, 85px, -43px);
		.shadow();
		background-color: @other-green;
		box-shadow: 0 5px 5px rgba(24,138,54, 0.6);
	}
	.shadow2 {
		.display();
		.shadow();
		.size(54px, 5px);
		.position(relative, 20px, -28px);
		background-color: @other-green;
		box-shadow: 0 5px 5px rgba(24,138,54, 0.6);
	}

	.snow() {
		z-index: 1;
		background-color: @snow-white;
		border-radius: 10px;
	}

	.snow-clump() {
		.size(12px, 27px);
		position: absolute;
		top : 0;
	}

	.snow5 {
		.display();
		.size(50px, 11px);
		.position(relative, 59px, 25px);
		.snow();
	}

	.snow1 {
		.display();
		.size(75px, 13px);
		.position(relative, 125px, -87px);
		.snow();

		&:after {
			.ba();
			.position(absolute, 2px, 10px);
			& when not (@lr = false) {
				.position(absolute, 2px, 40px);
			}
			.size(17px, 17px);
			background-color: @snow-white;
			border-radius: 100%;
		}
	}

	.snow2 {
		.display();
		.snow-clump();
		left: -12px;
		.snow();
		.transform(rotate(40deg));
	}
	.snow3 {
		.display();
		.snow-clump();
		left: -5px;
		.snow();
	}
	.snow4 {
		.display();
		.snow-clump();
		left: 2px;
		.snow();
		.transform(rotate(-40deg));
	}
}

.tree3 {
	.treeOff(@tree-clump1 - 50px, false, true, 291px);
}

.tree4 {
	.treeOff(@tree-clump2 - 120px, true);
}

//*************************//

//********Mountains********//

.mountain(@size1 : 280px, @y: 240px, @x: 237px, @align: @size1 - 92px, @top : -225px, @clump1: 330px, @clump2: 380px, @size2 : @size1, @rotate : 135deg) {
	.display();
	display: inline-block;
	opacity: 0.5;
	.position(relative, @y, @x);

	.snow() {
		z-index: 1;
		background-color: @snow-white;
		border-radius: 25px;
	}

	.snow-clump() {
		.size(32px, 100px);
		position: absolute;
		top : @top;
	}

	.half1 {
		.triangle(@size1, @size2, @dark-light-grey);
		.position(absolute, -50px, 0);
		.transform(rotate(@rotate));
		.display();
		display: inline-block;
	}
	.half2 {
		.triangle(@size1, @size2, @dark-dark-grey);
		.position(absolute, -50px, @align);
		.transform(rotate(-135deg));
		.display();
		display: inline-block;
	}
	
	.snow1 {
		.display();
		.snow-clump();
		left: @clump1;
		.snow();
		.transform(rotate(45deg));
	}
	
	.snow2 {
		.display();
		.snow-clump();
		left: @clump2;
		.snow();
		.transform(rotate(-45deg));
	}

	/*.snow3 {
		.display();
		.snow-clump();
		left: -5px;
		.snow();
	}*/
}

.mountain1 {
	.mountain();
}

.mountain2 {
	.mountain(240px, 277px, 15px, 176px, -210px, 285px, 335px);
}

//*************************//

//*********House***********//

.house {
	@width : 140px;
	@height : 100px;

	.display();
	display: inline-block;
	.size(@width, @height);
	.position(relative, @ground-y + 5, 0);
	background-color: @cred;

	.window() {
		@width : 27px;

		.ba();
		.size(@width, @width);
		background-color: @windows-yellow;
	}

	&:before {
		.window();
		.position(absolute, 20px, 10px);
		.shadow();
	}

	&:after {
		.window();
		.position(absolute, 20px, 105px);
	}

	.snow() {
		z-index: 1;
		background-color: @snow-white;
		border-radius: 25px;
	}

	.snow-clump() {
		.size(30px, 145px);
		position: absolute;
		top : -100px;
	}

	.roof {
		.ba();
		.position(absolute, -60px, -5px);
		.triangle(75px, 75px, @cred);
	}

	.door {
		.display();
		.size(55px, 75px);
		.position(absolute, 25px, 43px);
		z-index: 1;
		background-color: @dark-cred;
		border-top-right-radius: 25px;
		border-top-left-radius: 25px;
	}

	.chimney {
		.display();
		.size(35px, 65px);
		.position(absolute, -80px, 5px);
		z-index: 1;
		background-color: @cred;

		&:before {
			.ba();
			.snow();
			.display();
			.size(40px, 12px);
			.position(absolute, -5px, -3px);
			border-radius: 10px;
		}

		&:after {
			.ba();
			.snow();
			.display();
			.size(13px, 13px);
			.position(absolute, -4px, -4px);
			border-radius: 100%;
		}
	}

	.smoke1 {
		.animation(smoky_smoke 3s ease-in-out infinite 0s);
		.display();
		.size(25px, 25px);
		.position(absolute, -120px, 0px);
		background: @smoke-grey; 
		border-radius: 50%;
		box-shadow: 
			@smoke-grey 15px -5px 0 -5px, 
			@smoke-grey 5px -10px, 
			@smoke-grey 5px 5px, 
			@smoke-grey 10px 8px 0 -10px, 
			@smoke-grey 20px 5px 0 -5px;
	}

	@-webkit-keyframes smoky_smoke{
		0% {  
		}
		25% { 
			//.size(20px, 20px);
			.transform(scale(0.75, 0.75) translateY(-20px));
			//.position(absolute, -140px, 0px);
			opacity: 0.8;
		}
		50% {
			//.size(15px, 15px);
			.transform(scale(0.5, 0.5)  translateY(-80px));
			//.position(absolute, -160px, 0px);
			opacity: 0.6;
		}
		75% {
			//.size(10px, 10px);
			.transform(scale(0.25, 0.25) translateY(-200px));
			//.position(absolute, -180px, 0px);
			opacity: 0.3;
		}
		100% {
			//.size(10px, 10px);
			.transform(scale(0.25, 0.25) translateY(-240px));
			//.position(absolute, -200px, 0px);
			opacity: 0;
		}
	}

	@keyframes smoky_smoke{
		0% {  
			opacity: 1;
			/*box-shadow: 
				rgba(238,238,238,0) 0px 0px, 
				rgba(238,238,238,0) 10px 10px,  
				#EEEEEE 20px 45px, 
				#EEEEEE 25px 20px, 
				#EEEEEE 40px 70px, 
				#EEEEEE 50px 65px, 
				#EEEEEE 80px 15px, 
				#EEEEEE 60px 5px;*/
		}
		25% { 
			.size(20px, 20px);
			.position(absolute, -140px, 0px);
			opacity: 0.8;
		}
		50% {
			.size(15px, 15px);
			.position(absolute, -160px, 0px);
			opacity: 0.6;
		}
		75% {
			.size(10px, 10px);
			.position(absolute, -180px, 0px);
			opacity: 0.3;
		}
		100% {
			.size(10px, 10px);
			.position(absolute, -200px, 0px);
			opacity: 0;
		}
	}



	.smoke2 {
		.animation(smoky_smoke 3s ease-out infinite 1.75s);
		.display();
		.size(25px, 25px);
		.position(absolute, -120px, 0px);
		opacity: 0;
		background: @smoke-grey; 
		border-radius: 50%;
		box-shadow: 
			@smoke-grey 15px -5px 0 -5px, 
			@smoke-grey 5px -10px, 
			@smoke-grey 5px 5px, 
			@smoke-grey 10px 8px 0 -10px, 
			@smoke-grey 20px 5px 0 -5px;
	}

	/*.smoke() {
		.display();
		.size(80px, 12px);
		border-radius: 10px;
		background-color: @smoke-grey;
	}

	.smoke {
		@y  : -40px;
		@x1 : -10px;
		@x2 : 10px;
		.smoke();
		.position(absolute, @y, @x1);

		&:before {
			.ba();
			.smoke();
			.position(absolute, @y - 20px, @x2);
		}

		&:after {
			.ba();
			.smoke();
			.position(absolute, @y - 40px, @x1);
		}
	}*/

	@left : 12px;

	.snow1 {
		.display();
		.snow-clump();
		left: @left;
		.snow();
		.transform(rotate(45deg));
	}
	
	.snow2 {
		.display();
		.snow-clump();
		left: @left + 85px;
		.snow();
		.transform(rotate(-45deg));
	}
}

//*************************//

//***********Snow**********//

@ss-width: 82px;
@ss-height: 92px;

@ss-x : 10px;
@ss-y : 0px;

@overlap-x : @ss-x + @ss-width - 3px;
@overlap-y : @ss-y + @ss-height - 3px;

.snow-square(@ox : 0, @oy : 0) {
	display: inline-block;
	.position(absolute, @ss-y + (@ss-height * @oy - (3 * @oy)), @ss-x + (@ss-width * @ox - 3));
	z-index: 2;
	width: @ss-width;
	height: @ss-height;
	.snow {
		.animation(snowy_snow 4s infinite linear);
		border-radius: 50%;
		display: block;
		height: 7px;
		width: 7px;
		opacity: 0.5;
		.transform(scale(.9));
	}
}

.snow-row(@num-x, @num-y) {
	.generate-columns(@num-x, @num-y);

	.snow-0 {
		.snow-square(0, @num-y);
	}

	.generate-columns(@n, @y, @i: 1) when (@i < @n) {
	  .snow-@{i} {
	  	.snow-square(@i, @y);
	  }
	  .generate-columns(@n, @y, (@i + 1));
	}
}

.snowflakes(@num) {
	.generate-rows (@num);

	.generate-rows(@n, @i: 0) when (@i < @n) {
	  .snow-row@{i} {
	  	.snow-row(12, @i);
	  }
	  .generate-rows(@n, (@i + 1));
	}
}

.map-snowflakes {
	.snowflakes(6);
}
/*.snow-square2 {
	.snow-square(@overlap-x);
}*/

//************************//

/* Mixin to generate random number;
   int should be 0 or 1, 1 being to make it an integer 
*/
.makeRandom(@min: 0, @max: @min+1, @int: 0) { 
  .checkInt() {
    @getNum: `Math.random() * (@{max} - @{min} + @{int})`;
    @base: unit(`@{int} == 1 ? Math.floor(@{getNum}) : @{getNum}`);
  }
  .checkInt();
  @randNum: @base + @min;
}

/*.snowflakes(7);
@snowflakes : #EEEEEE;
@rgba-snowflakes : rgba(238,238,238,0);

.disappear(@n, @i: 1, @start, @jump) when (@i =< @n) {
  	@rgba-snowflakes @start + @jump, @start + @jump;
  	.disappear(@n, (@i + 1), @start, );
}

.flakes(@n, @i: 1, @start, @jump) when (@i =< @n) {
	@snowflakes @start + @jump @start + @jump, 
	.snowflakes(@n, (@i + 1));
}

.snowflakes(@n, @i: 1) when (@i =< @n) {
  @start: .makeRandom(0, 50, 1)px;
  @jumps: .makeRandom(0, 50, 1)px;

  box-shadow:
}

.snowy_snow_deux() {
}*/

@-webkit-keyframes snowy_snow {
	0% {  
		box-shadow: 
			rgba(238,238,238,0) 0px 0px, 
			rgba(238,238,238,0) 10px 10px,  
			#EEEEEE 20px 45px, 
			#EEEEEE 25px 20px, 
			#EEEEEE 40px 70px, 
			#EEEEEE 50px 65px, 
			#EEEEEE 80px 15px, 
			#EEEEEE 60px 5px; 
	}
	25% {  
	  	box-shadow: 
			#EEEEEE 0px 15px,
			#EEEEEE 10px 30px,
			#EEEEEE 20px 60px,
			#EEEEEE 25px 35px,
			rgba(238,238,238,0) 40px 90px,
			rgba(238,238,238,0) 50px 90px,
			#EEEEEE 80px 40px,
			#EEEEEE 60px 30px;
	}
	26% {  
		box-shadow:
			#EEEEEE 0px 15px,
			#EEEEEE 10px 30px,
			#EEEEEE 20px 60px,
			#EEEEEE 25px 35px,
			rgba(238,238,238,0) 40px 10px,
			rgba(238,238,238,0) 50px 0px,
			#EEEEEE 80px 40px,
			#EEEEEE 60px 30px; 
	}
	50% { 
		box-shadow:
			#EEEEEE 0px 40px,
			#EEEEEE 10px 50px,
			rgba(238,238,238,0) 20px 70px,
			#EEEEEE 25px 50px,
			#EEEEEE 40px 30px,
			#EEEEEE 50px 15px,
			#EEEEEE 80px 65px,
			#EEEEEE 60px 55px;
	}
	51% {
		box-shadow:
			#EEEEEE 0px 40px,
			#EEEEEE 10px 50px,
			rgba(238,238,238,0) 20px 15px,
			#EEEEEE 25px 50px,
			#EEEEEE 40px 30px,
			#EEEEEE 50px 15px,
			#EEEEEE 80px 65px,
			#EEEEEE 60px 55px;
	}
	75% {
		box-shadow:
			#EEEEEE 0px 65px,
			#EEEEEE 10px 70px,
			#EEEEEE 20px 30px,
			rgba(238,238,238,0) 25px 65px,
			#EEEEEE 40px 50px,
			#EEEEEE 50px 40px,
			rgba(238,238,238,0) 80px 90px,
			rgba(238,238,238,0) 60px 80px;
	}
	76% {
		box-shadow:
			#EEEEEE 0px 65px,
			#EEEEEE 10px 70px,
			#EEEEEE 20px 30px,
			rgba(238,238,238,0) 25px 5px,
			#EEEEEE 40px 50px,
			#EEEEEE 50px 40px,
			rgba(238,238,238,0) 80px 5px,
			rgba(238,238,238,0) 60px 0px;
	}
	100% {
		box-shadow:
			rgba(238,238,238,0) 0px 90px,
			rgba(238,238,238,0) 10px 90px,
			#EEEEEE 20px 45px,
			#EEEEEE 25px 20px,
			#EEEEEE 40px 70px,
			#EEEEEE 50px 65px,
			#EEEEEE 80px 15px,
			#EEEEEE 60px 5px;
	}
}

@keyframes snowy_snow {
	0% {  
		box-shadow: 
			rgba(238,238,238,0) 30px 30px, 
			rgba(238,238,238,0) 40px 40px,  
			#EEEEEE 50px 75px, 
			#EEEEEE 55px 50px, 
			#EEEEEE 70px 100px, 
			#EEEEEE 80px 95px, 
			#EEEEEE 110px 45px, 
			#EEEEEE 90px 35px; 
	}
	25% {  
	  	box-shadow: 
			#EEEEEE 30px 45px,
			#EEEEEE 40px 60px,
			#EEEEEE 50px 90px,
			#EEEEEE 55px 65px,
			rgba(238,238,238,0) 70px 120px,
			rgba(238,238,238,0) 80px 120px,
			#EEEEEE 110px 70px,
			#EEEEEE 90px 60px;
	}
	26% {  
		box-shadow:
			#EEEEEE 30px 45px,
			#EEEEEE 40px 60px,
			#EEEEEE 50px 90px,
			#EEEEEE 55px 65px,
			rgba(238,238,238,0) 70px 40px,
			rgba(238,238,238,0) 80px 20px,
			#EEEEEE 110px 70px,
			#EEEEEE 90px 60px; 
	}
	50% { 
		box-shadow:
			#EEEEEE 30px 70px,
			#EEEEEE 40px 80px,
			rgba(238,238,238,0) 50px 100px,
			#EEEEEE 55px 80px,
			#EEEEEE 70px 60px,
			#EEEEEE 80px 45px,
			#EEEEEE 110px 95px,
			#EEEEEE 90px 85px;
	}
	51% {
		box-shadow:
			#EEEEEE 30px 70px,
			#EEEEEE 40px 80px,
			rgba(238,238,238,0) 50px 45px,
			#EEEEEE 55px 80px,
			#EEEEEE 70px 60px,
			#EEEEEE 80px 45px,
			#EEEEEE 110px 95px,
			#EEEEEE 90px 85px;
	}
	75% {
		box-shadow:
			#EEEEEE 30px 95px,
			#EEEEEE 40px 100px,
			#EEEEEE 50px 60px,
			rgba(238,238,238,0) 55px 95px,
			#EEEEEE 70px 80px,
			#EEEEEE 80px 70px,
			rgba(238,238,238,0) 110px 120px,
			rgba(238,238,238,0) 90px 110px;
	}
	76% {
		box-shadow:
			#EEEEEE 30px 95px,
			#EEEEEE 40px 100px,
			#EEEEEE 50px 60px,
			rgba(238,238,238,0) 55px 35px,
			#EEEEEE 70px 80px,
			#EEEEEE 80px 70px,
			rgba(238,238,238,0) 110px 25px,
			rgba(238,238,238,0) 90px 15px;
	}
	100% {
		box-shadow:
			rgba(238,238,238,0) 30px 120px,
			rgba(238,238,238,0) 40px 120px,
			#EEEEEE 50px 75px,
			#EEEEEE 55px 50px,
			#EEEEEE 70px 100px,
			#EEEEEE 80px 95px,
			#EEEEEE 110px 45px,
			#EEEEEE 90px 35px;
	}
}

//*************************//

//*****Christmas Tree******//

@-webkit-keyframes pulsate {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.7;
	}
	100% {
		opacity: 1;
	}
}

@keyframes pulsate {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.7;
	}
	100% {
		opacity: 1;
	}
}

.xtree(@x: 70px, @foreground : true, @lr : false, @y: 275px) {
	@size1: 60px;
	@size2: 70px;
	.display();
	display: inline-block;
	.triangle(@size1, @size2, @xmas-green);
	.position(relative, @y, @x);

	& when not (@foreground = false) {
        z-index : 1;
    }

	&:before {
		.ba();
		.position(absolute, 35px, -85px);
		.triangle(85px, 100px, @xmas-green);
	}

	&:after {
		.ba();
		.position(absolute, 85px, -100px);
		.triangle(100px, 110px, @xmas-green);
		//box-shadow: 0 6px 0 #f1cb9a, 0 8px 2px rgba(0,0,0,0.2), -132px 40px 0 -61px #f6c83e, -128px 40px 0 -54px #edb815,
	}

	.root {
		.display();
		.size(15px, 30px);
		.position(relative, 190px, -15px);
		background-color: @dark-brown;
		box-shadow: 15px 0 0 @darker-brown;
	}
	//add triangle to shadow
	.shadow1 {
		.display();
		.size(93px, 5px);
		.position(relative, 101px, -47px);
		.shadow();
		background-color: @xmas-green;
		box-shadow: 0 5px 5px rgba(19, 108, 61, 0.6); //@dark-xmas-green; //rgb(24,138,54, 0.6);
	}
	.shadow2 {
		.display();
		.shadow();
		.size(60px, 5px);
		.position(relative, 31px, -29px);
		background-color: @xmas-green;
		box-shadow: 0 5px 5px rgba(19, 108, 61, 0.6); //@dark-xmas-green; //rgb(24,138,54, 0.6);
	}

	.snow() {
		z-index: 1;
		background-color: @snow-white;
		border-radius: 10px;
	}

	.snow-clump() {
		.size(12px, 27px);
		position: absolute;
		top : 0;
	}

	.snow5 {
		.display();
		.size(50px, 11px);
		.position(relative, 75px, 10px);
		.snow();
	}

	.snow1 {
		.display();
		.size(75px, 13px);
		.position(relative, 145px, -57px);
		.snow();

		&:after {
			.ba();
			.position(absolute, 2px, 40px);
			& when not (@lr = false) {
				.position(absolute, 2px, 40px);
			}
			.size(17px, 17px);
			background-color: @snow-white;
			border-radius: 100%;
		}
	}

	.snow2 {
		.display();
		.snow-clump();
		left: -12px;
		.snow();
		.transform(rotate(40deg));
	}
	.snow3 {
		.display();
		.snow-clump();
		left: -5px;
		.snow();
	}
	.snow4 {
		.display();
		.snow-clump();
		left: 2px;
		.snow();
		.transform(rotate(-40deg));
	}

	.light(@color1 : @red, @color2: @dark-red) {
		@width : 8px;
		.size(@width);
		.shadow();
		background-color: @color1;
		.border-radius(50%);
		.box-shadow(@color2 0px 0px 10px);
		.animation(pulsate 2.5s infinite);
	}

	//Level 1

	.light11 {
		.light(@purple, @dark-purple);
		.position(absolute, 44px, -35px);
	}

	.light12 {
		.light();
		.position(absolute, 50px, -16px);
	}

	.light13 {
		.light(@orange, @dark-orange);
		.position(absolute, 50px, 7px);
	}

	.light14 {
		.light(@green, @dark-green);
		.position(absolute, 44px, 27px);
	}

	//Level 2

	.light21 {
		.light();
		.position(absolute, 103px, -52px);
	}

	.light22 {
		.light(@green, @dark-green);
		.position(absolute, 108px, -29px);
	}

	.light23 {
		.light(@blue, @dark-blue);
		.position(absolute, 113px, -5px);
	}

	.light24 {
		.light(@purple, @dark-purple);
		.position(absolute, 108px, 19px);
	}

	.light25 {
		.light(@orange, @dark-orange);
		.position(absolute, 103px, 44px);
	}

	//Level 3

	.light31 {
		.light(@blue, @dark-blue);
		.position(absolute, 157px, -57px);
	}

	.light32 {
		.light(@orange, @dark-orange);
		.position(absolute, 160px, -37px);
	}

	.light33 {
		.light();
		.position(absolute, 165px, -15px);
	}

	.light34 {
		.light(@green, @dark-green);
		.position(absolute, 165px, 7px);
	}

	.light35 {
		.light(@purple, @dark-purple);
		.position(absolute, 160px, 29px);
	}

	.light36 {
		.light(@blue, @dark-blue);
		.position(absolute, 157px, 49px);
	}

	#star-six {
		.triangle(15px, 30px, @dark-gold);
		.position(absolute, -38px, -14px);
		z-index: 1;
	}
	#star-six:after {
		.ba();
		.triangle(15px, 30px, @gold);
		.transform(rotate(180deg));
		.position(absolute, 10px, -15px);
	}
}

.xmas-tree {
	.xtree();
}

.text {
	.display();
	.size(500px, 75px);
	text-align: center;
	font-size: 70px;
	font-family: 'Berkshire Swash', cursive;;
	color: @red;
	//text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	.position(absolute, 20px, 50px);
	span {
		color: @dark-red;
	}
}

//*************************//

//***********Ground1******//
.ground1 {
	.display();
	display: inline-block;
	.size(@ground-length, @ground-height1);
	.position(relative, @ground-y + 5, 0);
	background-color: @snow-white;
	border-radius: 10px;
}
//********************/

//***********Ground2******//
.ground2 {
	.display();
	display: inline-block;
	.size(200px, @ground-height2);
	.position(relative, @ground-y - @ground-height1 - 5, 0);
	background-color: @snow-white;
	border-radius: 10px;

	&:before {
		.ba();
		.position(absolute, 10px, 65px);
		.size(30px);
		background-color: @snow-white;
		border-radius: 100%;
	}

	&:after {
		.ba();
		.position(absolute, 2px, 30px);
		.size(45px, 45px);
		background-color: @snow-white;
		border-radius: 100%;
	}
}
//********************/

//***********Ground3******//
.ground3 {
	.display();
	display: inline-block;
	.size(225px, @ground-height2);
	.position(relative, @ground-y - @ground-height1 - 5, 100px);
	background-color: @snow-white;
	border-radius: 10px;

	&:before {
		.ba();
		.position(absolute, 15px, 175px);
		.size(20px);
		background-color: @snow-white;
		border-radius: 100%;
	}

	&:after {
		.ba();
		.position(absolute, 0px, 30px);
		.size(40px);
		background-color: @snow-white;
		border-radius: 100%;
	}
}
//********************/

//***********Ground4******//
.ground4 {
	.display();
	display: inline-block;
	.size(400px, @ground-height2);
	.position(relative, @ground-y - @ground-height1 - 5, 175px);
	background-color: @snow-white;
	border-radius: 10px;

	&:before {
		.ba();
		.position(absolute, 2px, 250px);
		.size(38px);
		background-color: @snow-white;
		border-radius: 100%;
	}

	&:after {
		.ba();
		.position(absolute, 10px, 30px);
		.size(25px);
		background-color: @snow-white;
		border-radius: 100%;
	}
}
//********************/

//***********Frame*********//

.frame {
	.display();
	.size(1050px, 600px);
	.position(relative, 50px, 0);
	z-index: 2;
	border: 25px solid @dark-brown;
	box-shadow: @darker-brown 0 0 5px 25px; 

}

//*********************//
