body {
	width: 100%;
}

@font-face {
	font-family: FiraMona;
	src: url("/fonts/FiraMono-Regular.otf") format("opentype");
}

@font-face {
	font-family: FiraMona;
	font-weight: bold;
	src: url("/fonts/FiraMono-Bold.otf") format("opentype");
}

.pulse_marker {
    width: 16px;
    height: 16px;
    background: #eeeeee;
    border-radius: 28px;
    opacity: 0.6;
    display: block;
    position: absolute;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.75);
    top: 250px;
    left: 600px; /* Should appear in the center of the screen */
}

.pulse_ring {
    border: 3px solid #eee;
    -webkit-border-radius: 30px;
    height: 18px;
    width: 18px;
    top: -4px;
    left: -4px;
    position: relative;
    -webkit-animation: pulsate1 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.75);
    opacity: 0.0
}
@-webkit-keyframes pulsate1 {
    0% {-webkit-transform: scale(1.1, 1.1); opacity: 0.6;}
    25% {opacity: 0.8;}
    50% {-webkit-transform: scale(1.5, 1.5); opacity: 0.6;}
    75% {opacity: 0.8;}
    100% {-webkit-transform: scale(1.1, 1.1); opacity: 0.6;}
}
.timer_loc {
	position: absolute;
	top: 50px;
	left: 50px;
	font-size: 30px;
	font-weight: 700;
	font-family: FiraMona, Helvetica, Verdana, Sans-Serif;
	width: 150px;
	border: 3px solid #e2e2e6;
	border-radius: 10px;
	text-align: center;
}
.score_loc {
	position: absolute;
	top: 50px;
	right: 50px;
	font-size: 30px;
	font-weight: 700;
	font-family: FiraMona, Helvetica, Verdana, Sans-Serif;
	width: 150px;
	border: 3px solid #e2e2e6;
	border-radius: 10px;
	text-align: center;
}
#timer_hund {
	margin-left: -18px;
}
.pulse_marker2 {
    width: 16px;
    height: 16px;
    background: #ffd700;
    border-radius: 28px;
    display: block;
    position: absolute;
    top: 150px;
    left: 780px;
}

.pulse_ring2 {
    border: 3px solid #ffd700;
    -webkit-border-radius: 30px;
    height: 18px;
    width: 18px;
    top: -4px;
    left: -4px;
    position: relative;
    -webkit-animation: pulsate2 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    -webkit-box-shadow: 0px 0px 6px 0px rgba(255, 215, 0 0.75);
    -moz-box-shadow:    0px 0px 6px 0px rgba(255, 215, 0 0.75);
    box-shadow:         0px 0px 6px 0px rgba(255, 215, 0 0.75);
}
@-webkit-keyframes pulsate2 {
    0% {-webkit-transform: scale(0.5, 0.5); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.7, 1.7); opacity: 0.0;}
}
.pulse_marker3 {
    width: 16px;
    height: 16px;
    background: #e2e2e6;
    border-radius: 28px;
    display: block;
    position: absolute;
    -webkit-animation: color_change 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.75);
    top: 600px;
    left: 300px;
}

.hero {
    width: 16px;
    height: 16px;
    background: #0DAAD1;
    border: 2px solid #1A86A0;
    border-radius: 12px;
    display: block;
    position: absolute;
    top: 200px;
    left: 300px;
}

.pulse_ring3 {
    border: 3px solid #e2e2e6;
    -webkit-border-radius: 30px;
    height: 18px;
    width: 18px;
    top: -4px;
    left: -4px;
    position: relative;
    opacity: 0.0
}
@-webkit-keyframes pulsate3 {
    0% {-webkit-transform: scale(1.9, 1.9); opacity: 0.0;}
    50% {
    	opacity: 1.0;
    }
    100% {-webkit-transform: scale(1.0, 1.0); opacity: 0.0;}
}
@-webkit-keyframes color_change {
	0% {
		-webkit-transform: scale(1.0, 1.0);
    	-webkit-box-shadow: inset 0px 0px 10px 5px rgba(131, 36, 37, 0.1);
	    -moz-box-shadow:    inset 0px 0px 10px 5px rgba(131, 36, 37, 0.1);
	    box-shadow:         inset 0px 0px 10px 5px rgba(131, 36, 37, 0.1);
	}
    50% {
    	-webkit-transform: scale(1.6, 1.6);
    	-webkit-box-shadow: inset 0px 0px 10px 5px rgba(131, 36, 37, 0.7);
	    -moz-box-shadow:    inset 0px 0px 10px 5px rgba(131, 36, 37, 0.7);
	    box-shadow:         inset 0px 0px 10px 5px rgba(131, 36, 37, 0.7);
    }
    100% {
    	-webkit-transform: scale(1.0, 1.0);
    	-webkit-box-shadow: inset 0px 0px 10px 5px rgba(131, 36, 37, 0.1);
	    -moz-box-shadow:    inset 0px 0px 10px 5px rgba(131, 36, 37, 0.1);
	    box-shadow:         inset 0px 0px 10px 5px rgba(131, 36, 37, 0.1);
    }
}
.reveal-modal {
  font-family: FiraMona, Helvetica, Verdana, Sans-Serif;
  font-weight: 700;
  font-size: 30px;
}
.modalText {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #eeeeee;
  padding: 0.5rem;
  border: 1px solid #d6e6e6;
  border-radius: 5px;
  text-align: center;
}
.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	border-radius: 6px;
	border:1px solid #dcdcdc;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height: 25px;
	width:100px;
	cursor: pointer;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
.button_container {
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
canvas {
  display:block;
  margin:auto;
  border:1px dashed black;
  margin-top: 175px;
}
.nugget { 
	position: absolute;
	width: 16px;
    height: 16px;
    /*background: #eeeeee;*/
    border-radius: 28px;
    opacity: 0.6;
    display: block;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.75);
}

.enemy {
	position: absolute;
	width: 16px;
    height: 16px;
    display: block;
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: rotate; 
    -moz-animation-duration: 2s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

.play-pause {
	width: 50px;
	display: block;
	position: absolute; /*some reason not working so have to use margin*/
	left: 1275px;
	top: 575px;
	padding-bottom: 0px;
	font-size: 50px;
	color: #000;
}
.play-pause a {
	text-decoration: none;
	color: #000;
}
#play {
	display: none;
}
#pause {
}

.music-volume {
    width: 50px;
    display: block;
    position: absolute; /*some reason not working so have to use margin*/
    left: 50px;
    top: 575px;
    padding-bottom: 0px;
    font-size: 50px;
    color: #000;
}
.music-volume a {
    text-decoration: none;
    color: #000;
}
#loud {
    display: none;
}
#mute {
}
/*
#pulse1:target {
}*/